body, h1, h2, p, ul, li {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #f8f8f8;
    color: #333;
    
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header h1 {
    font-size: 4em;
    color: #141314;
    font-family: 'Great Vibes', cursive;
}

header h2 {
    font-size: 1.5em;
    color: #17141a;
}

/* Navigation styles */
nav {
    background-color: #245b37;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

nav a:hover {
    background-color: #6b567c;
}